<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#f04848" >
    <meta content="telephone=no" name="format-detection"/>
    <title>卡劵</title>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T48BDF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        window.addEventListener('load', function() {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src=w.location.search.match(/55gtmpreview=1/)?"//www.googletagmanager.com/gtm.js?id="+i+dl:"https://res-ga.smzdm.com/gtm.js?id=" + i + dl;f.parentNode.insertBefore(j,f);})(window,document,"script","dataLayer","GTM-T48BDF");
        }, false);
    </script>
</head>
<body>
    <div id="app" v-cloak></div>
</body>
</html>